{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "babel-plugin-react-compiler"
  ],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    },
    "test": {
      // to mock webpack's require.context in jest
      "plugins": ["transform-require-context"]
    }
  }
}